.btn-green {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.9rem;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    color: #FFFFFF;           
    background: #4CAF50;
    border-radius: 19.5px;
    border:  none;
}

