.heading-primary {
    font-weight: 900;
    font-size: 5.2rem;
    line-height: 6.4rem;
    text-align: center;
    color: #ffffff;                
}


.heading-secondary {
    font-style: normal;
    font-weight: 900;
    font-size: 5.2rem;
    line-height: 7.8rem;
    color: var(--color-heading-secondary);
    
}

.heading-third {
    font-weight: 900;
    font-size: 5.2rem;
    line-height: 7.8rem;
    color: var(--text-primary);
}