.ask-doctor {
    transform: translateY(-24rem);
    gap: 10rem;
    // align-items: center;


    &__content {
        flex-direction: column;
        gap: 3rem;
        margin-top: 25px;

        // &__caption {

        //     h4 {
        //         font-weight: 900;
        //         font-size: 5.2rem;
        //         line-height: 7.8rem;
        //         color: var(--text-primary);
        //     }

        // }


        &__detail {
            
            ul {
                flex-direction: column;
                gap: 3rem;

                li {
                    &:hover {
                        background: #B3E5FC;
                        border-radius: 36.6019px;
                        // padding-left: 1.8rem;
                    }
                    &:hover a {
                        color: #01579B;

                        } 

                    a {
                        font-weight: 400;
                        font-size: 2.4rem;
                        line-height: 3.6rem;
                        color: var(--text-primary);
                        padding: 0.5rem 4.1rem 0.5rem 1.8rem;

                    }
                }
            }
        }
    }


    &__cards {
        gap: 4.9rem;


        &__column {
            gap: 7.6rem;
            flex-direction: column;


            &__card {
                background: var(--paper-light);
                box-shadow: 0px 3px 20px 5px rgba(0, 0, 0, 0.03);
                border-radius: 1.5rem;


                &__top {
                    gap: 1.3rem;
                    align-items: center;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                    margin-left: 1.8rem;
                    margin-right: 1.8rem;
                    padding-bottom: 1.75rem;
                    padding-top: 0.82rem;
                    // margin-bottom: 3.1rem;


                    &__image {
                        margin-top: -4rem;
                        margin-left: -5rem;

                        img {
                            border-top-right-radius: 50%;
                            border-bottom-left-radius: 50%;
                            border-bottom-right-radius: 50%; 

                        }
                    }


                    &__caption {
                        flex-direction: column;
                        gap: 0.7rem;


                        h6 {
                            font-weight: 400;
                            font-size: 2.4rem;
                            line-height: 2.9rem;
                            color: var(--text-primary);


                        }

                        p {
                            font-weight: 400;
                            font-size: 1.8rem;
                            line-height: 2.2rem;
                            color: var(--text-fourth);

                        }
                    }
                }

                &__bottom {
                    align-items: center;
                    gap: 5.6rem;
                    margin-right: 1.4rem;
                    padding-bottom: 1.8rem;
                    padding-top: 1.25rem;



                    &__info {
                        gap: 2.8rem;
                        margin-left: 2.1rem;


                        &__ratinq {
                            gap: 0.85rem;


                            svg {
                                fill: var(--text-disabled);
                            }

                            span {
                                font-weight: 400;
                                font-size: 1.6rem;
                                line-height: 1.9rem;
                                color: var(--text-fourth);

                            }
                        }

                        &__experience {
                            gap: 0.85rem;

                            svg {
                                fill: var(--text-disabled);

                            }

                            span {
                                font-weight: 400;
                                font-size: 1.6rem;
                                line-height: 1.9rem;
                                color: var(--text-fourth);

                            }
                        }

                    }

                    &__btn {

                     
                        button {
                            padding: 0.8rem 2.95rem;
                      }
                    }
                }
            }
        }
    }

}



.bg-ask-doctor {
    background-image: url(../img/ask-doctor-bg.svg), url(../img/bg-testimonials.svg),  url(../img/bg-clinics.svg);
    background-repeat: no-repeat;
    background-position: 0 16%, 100% 52%, 0 96%;

}


.dark-mode {

    .bg-ask-doctor {
        background-image: url(../img/ask-doctor-bg-dark.svg), url(../img/bg-dark-testimonials.svg), url(../img/bg-clinics-dark.svg);
        background-repeat: no-repeat;
        background-position: 0 16%, 100% 52%, 0 96%;
    }
}

// .bg-testimonials {
//     background: url(../img/bg-testimonials.svg);
//     background-repeat: no-repeat;
//     background-position: 100% 118%;
// }

// .dark-mode {

//     .bg-testimonials {
//         background: url(../img/bg-dark-testimonials.svg);
//         background-repeat: no-repeat;
//         background-position: 100% 175%;
//     }
// }